.navigationBlock {
  & {
    margin-top: 40px;
  }

  a {
    color: rgb(255, 225, 0);
    transition: font-size .2s ease 0s;

    &:hover {
      font-size: 1.05em;
    }
  }

  a._active{
    &::after {
      content: '🚩';
      margin-left: 10px;
    }
  }
}