//===========================================
$fontFamily: ""; //Шрифт по умолчанию
$fontSize: 14px; //Размер шрифта по умолчанию
$mainColor: #31da31; // Цвет шрифта по умолчанию
//===========================================

//<Основные цвета>======
$color1: #000;
$color2: #000;
$color3: #000;
//</Основные цвета>=====
//<Брейкпоинты>=========
$siteWidth: 1440;
$widthContainer: 1200;
$mb1: $widthContainer + 12;
$mb2: 991.92;
$mb3: 767.98;
$mb4: 479.98;
//</Брейкпоинты>========